---
title: "How do you contribute?"
author: Emily von Hoffmann
author_gitlab: evhoffmann
author_twitter: emvonhoffmann
categories: open source
image_title: '/images/blogimages/contribute-social-cover.png'
description: "Your contribution graph captures a moment in time like few things can, and we want to celebrate it. "
tags: community
twitter_text: "Your contribution graph captures a moment in time like few things can, and we want to celebrate it"
postType: content marketing
featured: yes
---

Contribution graphs tell the story of your year.

Especially when you’re a daily user, they have a funny way of capturing not only professional milestones, but personal ones too. Vacations, sabbaticals, and family leave are all captured by characteristic little gray squares where no work is done. Equally telling are the times when work overflows into the weekends, or when it forms those satisfyingly deep navy streaks for consecutive days with over 30 commits each.

![Inner narration when I look at my contribution graph](/images/blogimages/contribute-social-launch/evh_contribution_graph.png){: .shadow.center.medium}
*<small><center>Some inner narration when I look at my contribution graph</center></small>*

Using GitLab, you don’t just have to commit code in order to get the visual feedback for all of your hard work. Actions like commenting, opening, and closing issues and merge requests are also included. Your contribution graph is as unique as your fingerprint. It captures a moment in time like few things can, and we want to celebrate it. Check out some examples from the GitLab team:

#### Tackling weekend side projects 🙌

![Weekend side projects](/images/blogimages/contribute-social-launch/brendan-activity.png){: .shadow.center.medium}


#### Managing a team 🗣

![Managing a team](/images/blogimages/contribute-social-launch/lee-activity.png){: .shadow.center.medium}


#### Going on parental leave 🤗

![Parental leave](/images/blogimages/contribute-social-launch/brittany-activity.png){: .shadow.center.medium}


#### Producing GitLab videos 🎥

![Producing GitLab videos](/images/blogimages/contribute-social-launch/aricka-activity.png){: .shadow.center.medium}


#### Cultivating perfect weekends 🙏

![Cultivating perfect weekends](/images/blogimages/contribute-social-launch/sean-activity.png){: .shadow.center.medium}


#### Managing this blog! 📝

![Managing this blog](/images/blogimages/contribute-social-launch/rebecca-activity.png){: .shadow.center.medium}


#### Starting a new job 💜

![Starting a new job](/images/blogimages/contribute-social-launch/jeff-activity.png){: .shadow.center.medium}


#### Advancing in your role 💪

![Adjusting to a new role](/images/blogimages/contribute-social-launch/emilie-activity.png){: .shadow.center.medium}


#### Flexing your skills 💻

![Mastering your craft](/images/blogimages/contribute-social-launch/taurie-activity.png){: .shadow.center.medium}


## Everyone can #contribute

At GitLab, we believe that everyone can contribute, and that means you! Whether you build software yourself or enable others who do; whether you write code, contracts, or novels; whether you manage a team at work or in your own household, your tasks and timelines can find a home in GitLab.

So tell us about your contributions! While we’re at GitLab [Contribute](/company/culture/contribute/) in New Orleans, we want to hear about all the ways that you contribute. Tweet a screenshot of your activity using #contribute, and tell us about your year as represented by your GitLab profile. Tweeting with the hashtag will [enter you to win](/community/sweepstakes/contribute/) a swag bag to deck you out in GitLab gear from head to toe 😍

We can't wait to hear from you! Tweet us [@gitlab](https://twitter.com/gitlab).
